/**/build/
/**/nbproject/private/
/**/dist/
/**/target/

/Lucen Demo/files/
/Lucen Demo/index/
/Lucene_Tika_JavaFx_Application/index/


/**/.nb-gradle/
# Netbeans
/**/.nb-gradle/
/**/build/
/**/nbproject/private/
/**/dist/
/**/bin/

# Maven
/**/log/
/**/target/

# Intellij
/**/.idea/
*.iml
*.iws
/**/jdbc/*.jar

/**/out/
/**/.gradle/
/**/gradlew
/**/gradlew.bat
/**/gradle/