/Basic POI Console App/nbproject/private/
/Basic POI Console App/build/
/Basic Tika Console App/nbproject/private/
/Lucen Demo/nbproject/private/
/Basic Tika Console App/build/
/Basic Tika Console App/dist/
/Tika Parent/target/
/Lucen Demo/build/
/Lucen Demo/dist/